<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <div class="md-float-material">
            <div class="text-center">
              <img class="imglogo" src="assets/images/auth/logo.png" alt="logo.png" />
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign In</h3>
                </div>
              </div>
              <hr />

              <form name="form" [formGroup]="loginform" #savestudent (ngSubmit)="saveLogin(saveLogin)">


                <!-------------------------------------------- Email -------------------------------------------->


                <div class="input-group">
                  <input type="email" class="form-control" name="email" formControlName="login_email" required
                    placeholder="Email" />
                  <span class="md-line"></span>
                </div>


                <!-------------------------------------------- Password -------------------------------------------->


                <div class="input-group">
                  <input type="password" class="form-control" name="password" formControlName="login_password" required
                    minlength="6" placeholder="Password" />
                  <span class="md-line"></span>
                </div>

                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button [disabled]="loginform.invalid" type="submit"
                      class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                      Login
                    </button>
                    <!-- <button [routerLink]="['/auth/registration']" type="button"
                      class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                      Register
                    </button> -->
                  </div>
                </div>

                <hr />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng2-toasty [position]="position"></ng2-toasty>