<div class="row">
    <div class="col-sm-12">
        <app-card>

            <h4 class="sub-title">Ajouter une information</h4>

            <form name="form" novalidate #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">



                <div class="row">
                    <div class="col-sm-12 mobile-inputs">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Titre 1</label>
                            <div class="col-sm-4">
                                <input name="titre_1" #titre_1="ngModel" placeholder="Titre1" required
                                    [(ngModel)]="devenezprop.titre_1" type="text" class="form-control">
                                <div class="alert alert-danger" *ngIf="f.submitted && titre_1.invalid">
                                    <span *ngIf="titre_1.errors.required">required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 mobile-inputs">
                        <div class="form-group row">


                            <label class="col-sm-2 col-form-label">Text 1</label>
                            <div class="col-sm-10">
                                <textarea name="texte_1" #texte_1="ngModel" required [(ngModel)]="devenezprop.texte_1"
                                    rows="5" cols="5" class="form-control" placeholder="Description"></textarea>
                                <div class="alert alert-danger" *ngIf="f.submitted && texte_1.invalid">
                                    <span *ngIf="texte_1.errors.required">required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 mobile-inputs">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Titre 2</label>
                            <div class="col-sm-4">
                                <input name="titre_2" #titre_2="ngModel" placeholder="Titre2" required
                                    [(ngModel)]="devenezprop.titre_2" type="text" class="form-control">
                                <div class="alert alert-danger" *ngIf="f.submitted && titre_2.invalid">
                                    <span *ngIf="titre_2.errors.required">required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 mobile-inputs">
                        <div class="form-group row">


                            <label class="col-sm-2 col-form-label">Text 2</label>
                            <div class="col-sm-10">
                                <textarea name="texte_2" #texte_2="ngModel" required [(ngModel)]="devenezprop.texte_2"
                                    rows="5" cols="5" class="form-control" placeholder="Description"></textarea>
                                <div class="alert alert-danger" *ngIf="f.submitted && texte_2.invalid">
                                    <span *ngIf="texte_2.errors.required">required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <!--------------------------------------------------- photo ------------------------------------------------------>




                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Image 1</label>
                    <div class="col-sm-10">

                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="devenezprop.image1" type="file"
                            (change)="selectFileimg1($event)" name="uploadFileimg1" id="upload-photo"
                            class="upload-box">
                        <label class="uploadfilecontainer" for="upload-photo"></label>

                    </div>
                    <img class="files-lists img-responsive" onerror="this.src='assets/images/done.png'"
                        *ngIf="devenezprop.image1" [src]="devenezprop.image1" style="width: 100px; height: auto;margin-left: 25em;">
                </div>






                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Image 2</label>
                    <div class="col-sm-10">

                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="devenezprop.image2" type="file"
                            (change)="selectFileimg2($event)" name="uploadFileimg2" id="upload-photos"
                            class="upload-box">
                        <label class="uploadfilecontainer" for="upload-photos"></label>
                    </div>

                    <img class="files-lists img-responsive" onerror="this.src='assets/images/done.png'"
                        *ngIf="devenezprop.image2" [src]="devenezprop.image2" style="width: 100px; height: auto;margin-left: 25em;">
                </div>




                <div class="center">
                    <button class="btn btn-primary topp">Ajouter</button>
                </div>
            </form>


        </app-card>

    </div>
</div>