.line-container {
  height: 300px;
  width: 100%;
  display: block;
}
.gauge-container {
  height: 300px;
  width: 100%;
  display: block;
}

.color {
  font-weight: 300;
}

.colorval {
  font-weight: 400;
}
